$primary-color: #3498db;
$background-color: #f9f9f9;
$background-color-input: rgba(116, 116, 116, 0.1);
$background-color-input-hover: rgba(116, 116, 116, 0.25);
$button-color: #007bff;
$button-color-hover: #0056b3;
$text-color: #333;
$border-color: #333;
$border-color-lighter: #e9e9e9;
$error-color: red;

$font-size-base: 16px;

$spacing-unit: 8px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
