// InputSearch.module.scss

.inputSearchWrapper {
  .searchListWrapper {
    background-color: white;
    height: 139px !important;
    width: 100% !important;
    overflow-y: scroll;
    background-color: rgba(116, 116, 116, 0.1);

    .listItem {
      padding: 10px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.055);
      background-color: rgba(116, 116, 116, 0.1);

      &:hover {
        cursor: pointer;
        background-color: rgba(116, 116, 116, 0.25);
      }
    }

    .loader {
      width: 20px;
      height: 20px;
      border: 1px solid rgba(128, 128, 128, 0.55);
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    .error {
      color: red;
      font-size: 12px;
    }
  }
}

.listItem {
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.055);
  background-color: rgba(116, 116, 116, 0.1);
  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
    background-color: rgba(116, 116, 116, 0.25);
  }
}
