@import '../../styles/varibales';

.inputSearchWrapper {
  .searchListWrapper {
    background-color: white;
    height: 139px !important;
    width: 100% !important;
    overflow-y: scroll;
    background-color: rgba(116, 116, 116, 0.1);

    .listItem {
      padding: 10px;
      border-bottom: 1px solid var(--border-color-lighter);
      background-color: var(--background-color-input);

      &:hover {
        cursor: pointer;
        background-color: var(--background-color-input-hover);
      }
    }
  }
  .errorMessage {
    color: var(--error-color);
    font-size: 12px;
  }

  .loaderWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
    .loader {
      width: 18px;
      height: 18px;
      border: 1px solid var(--border-color);
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .isLoading {
      font-size: 10px;
      font-style: italic;
    }
  }
}
